/*
*
   COLORS
*
*/

$first-bckg:#d2c38a;
$second-bckg:#8ec0b4;
$third-bckg:#c4a090;
$text-color:rgb(240, 240, 240);
$text-color-dark:rgb(88, 88, 88);


/*
*
   FONTS
*
*/

$title-font: 'Rubik', sans-serif;